{cover_enabled, true}.
{eunit_opts, [verbose]}.
{erl_opts, [
    debug_info, 
    fail_on_warning,
    {parse_transform, lager_transform},
    {lager_truncation_size, 1024}
]}.
{edoc_opts, [{index_columns, 1}, {sort_functions, false}, {preprocess, true}]}.

{deps, [
]}.

{clean_files, [
	"erl_crash.dump"
]}.
